@model ZarzadzanieTaskami.Models.Komentarz

@{
    ViewData["Title"] = "Usuń komentarz";
}

<h1>Usuń</h1>

<h3>Czy jesteś pewny że chcesz to usunąć?</h3>
<div>
    <h4>Komentarz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Treść
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tresc)
        </dd>
        <dt class = "col-sm-2">
            Zadanie
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Task.Opis)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="KomentarzId" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">wróć do komentarzy</a>
    </form>
</div>
