@model ZarzadzanieTaskami.Models.Komentarz

@{
    ViewData["Title"] = "Szcegóły komentarza";
}

<h1>Szczegóły</h1>

<div>
    <h4>Komentarz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Treść
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tresc)
        </dd>
        <dt class = "col-sm-2">
            Zadanie
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Task.Opis)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.KomentarzId">Edytuj</a> |
    <a asp-action="Index">wróć do komentarzy</a>
</div>
