@model ZarzadzanieTaskami.Models.Projekt

@{
    ViewData["Title"] = "Usuń projekt";
}

<h1>Usuń</h1>

<h3>Czy jesteś pewny że chcesz to usunąć?</h3>
<div>
    <h4>Projekt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProjektId" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">wróć do projektów</a>
    </form>
</div>
