@model ZarzadzanieTaskami.Models.Projekt

@{
    ViewData["Title"] = "Szczegóły projektu";
}

<h1>Szczegóły</h1>

<div>
    <h4>Projekt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProjektId">Edytuj</a> |
    <a asp-action="Index">wróć do projektów</a>
</div>
